{% load static %}
<head>
	<link rel="stylesheet" href="{% static 'Core/home/home.css' %}">
	<script src="https://unpkg.com/preact@10.7.3/dist/preact.min.js"></script>
	<script src="https://unpkg.com/preact@10.7.3/hooks/dist/hooks.umd.js"></script>
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	<script type="text/babel" src="{% static 'Core/activation/activation.js' %}"></script>
</head>
<div id="root"></div>

<script>
	window.DJANGO = {
		Background: "{{ Background }}",
	};
</script>