{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'Core/home/home.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/preact@10.7.3/dist/preact.min.js"></script>
  <script src="https://unpkg.com/preact@10.7.3/hooks/dist/hooks.umd.js"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>
<body>
  <div id="root"></div>

  <script>
    window.DJANGO = {
        Username: "{{ request.user.username }}",
        is_staff: "{{ request.user.is_staff }}"
    };
  </script>
  <script type="text/babel" src="{% static 'Core/home/home.js' %}?v={{ timestamp }}"></script>
</body>